    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    header {
      background-color: rgb(255, 255, 255)000;
      color: white;
      padding: 20px 0;
      margin-bottom: -60px;
    }
    
    .cuadrologo {
      margin-left: 610px;
      margin-right: 20px;
      margin-top: 20px;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 300px; /* Tamaño logo */
      height: 60px;
    }
    .logo {
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .logo img {
      width: 300px; /* Tamaño logo */
      height: 60px;
    }


    nav {
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;

    }
    ul.menu li{
      padding-bottom: 100px;
    }
    nav ul {
      margin: 30px;
      padding: 30px;
      text-align: center;

    }
    nav ul li {
      display: inline;
      margin: 0 110px;
      margin-left: 140px;
    }
    nav ul li a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 18px;
    }
    nav ul li a:hover {
      color: #0210d4;
    }
  
/******** imagen que carga al inicio  *******/ 
  .Cargarpag {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.cargar {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cargar img {
    width: 280px;
}
 
#separador{
  background-color: #0056b3;
  width: 100%;
  height: 3px;
  
}

/************     CONTENEDOR     *************/
  .contenedor {
    width: 100%;
    height: 550px;
    margin: 50px auto;
    position: relative;
    background: url(../imagenes/aqua.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
  }

  
  .contenedor-acercade{
    width: auto;
    height: 550px;
    margin: 40px auto;
    background: transparent;
    background-repeat: no-repeat;
    background-size:auto;
    background-position:left;
    
  }

  .carrusel {
    display: flex;
    width: 100%;
    overflow: hidden;
  }

  .apartado {
    flex: 0 0 auto;
    text-align: center;
    width: 100%;
    min-width: 300px;
    margin-top: 100px;
    margin-right: 10px;
    transition: transform 0.5s ease;
    direction: rtl;
    background: transparent;
  }

  .apartado-acerca {
    flex: 0 0 auto;
    text-align: right;
    width: 95%;
    min-width: 300px;
    margin-top: 0px;
    margin-right: 70px;
    transition: transform 0.5s ease;
    direction: rtl;
    background: transparent;
    border-radius: 70px;
  }
  
  .apartado-acerca img{
    border-style:double;
    border-radius: 20px;
  }

  .apartado .sabermas {
    padding: 15px 50px;
    
    background-color: #fff;
    color: #000000bf;
    font-weight: bold;
    border-radius: 20px;
    text-decoration: none;
}

.apartado .sabermas:hover {
    background-color: rgba(27, 23, 23, 0.875);
    padding: 25px 55px;
    border-radius: 40px;
    color: #0064cf
}

.apartado h1 {
    color: #ffffff;
    font-size: 85px;
    line-height: 96px;
    padding-bottom: 0px;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 200px;
}

.apartado span {
    line-height: 25px;
    padding-bottom: 40px;
    color: #bebebe;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-top: -50px;
}

  h1 {
    margin-top: 0;
    direction: ltr; /* Revertir dirección del título */
  }

  p {
    direction: ltr; /* Revertir dirección del texto */
  }

  button {
    position: absolute;
    top: 95%;
    width: 46px;
    height: 46px;
    background: #333;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 50px;

    cursor: pointer;
    transition: transform 0.3s, font-size 0.3s;
  }
  
  .button:hover {
    transform: scale(1.2);
  }
  
  .button:active {
    transform: scale(1);
    font-size: 16px;
  }

  .anterior {
    left: 700px;
    background-color: rgba(90, 90, 90, 0.87);
    border-radius: 600px;
  }

  .siguiente {
    right: 710px;
    background-color: rgba(90, 90, 90, 0.87);
    border-radius: 600px;
  }

 .siguiente:hover,
 .anterior:hover {
     background: #1659e8;
     color: #fff;
     width: 65px;
     height: 65px;
     font-size: 30px;
     top: 92%;
}
.siguiente:hover {
     right: 710px;
}

.anterior:hover{
     left: 700px;
}

/**********acerca de nosotros ************/
.contenedor2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 900px;
}

.texto, .imagen {
  flex: 1;
}

.texto {
  text-align: center;
  background-color: #ffffff;
  padding: 72px;
  margin-left: 100px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin-top: -100px;
  
}

.texto h2{
  font-size: 50px;
  color: #333;
}

.texto p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

.texto a.leermas {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
  background-color: #43474b;
  border-radius: 4px;
}

.texto a.leermas:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.imagen {
  padding: 0px;
  box-sizing: border-box;
  margin-right: 130px;
}

.imagen img {
  width: 1100px;
  height: 470px;
  display: block;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

/*Galeria*/
.contenedor4 {
  display: flex;
flex-direction: column;
  background-color: #dbdada;
  width: 100%;
  height: 1250px;
}
#acerca{
  font: small-caps 110%/200% serif;
}

#estiloh2{
  text-align: center;
  font-size: 50px;
  margin-top: 170px; 
  font-family:"Homer Simpson UI";

  transition: transform 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000000;
  text-shadow: 0 0 7px #1659e8, 0 0 30px #1659e8; /*efecto neón*/
}
#estiloh2:hover {
  transform: scale(1.1); /* Aumentar escala al pasar el cursor */
}

#estiloh3{
  text-align: center;
  font-size: 22px;
  margin-top: -120px; 
  font-family:"Homer Simpson UI";
  transition: transform 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000000;
  text-shadow: 0 0 7px #4e86ff, 0 0 30px #4e86ff; /*efecto neón*/
}

#estiloh3:hover {
  transform: scale(1.1); /* Aumentar escala al pasar el cursor */
}

#estiloh22{
  text-align: center;
  font-size: 60px;
  margin-top: 170px; 
  font-family:"Homer Simpson UI";
  text-transform: uppercase;
}

#fecha{
    line-height: 25px;
    padding-bottom: 40px;
    color: rgba(0, 0, 0, 0.453);
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-top: -50px;
}
.fila {
  display: flex;
  flex-direction: row;
  gap: 40px; 
  background-color: #dbdada;
  padding: 10px;
  margin-top: 60px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: -10px;
  height: 300px;
}

.apartado2 {
  flex: 1;
  width: 100px;
  height: 100px;
}

.apartado2 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

.contenedor4 .apartado2 figure {
  margin: 0;
}

.contenedor4 .apartado2 figure img {
  width: 100%;
  transition: all .5s;
}

.contenedor4 .apartado2 figure img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.pantalla-completa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.pantalla-completa img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}


/*contacto y mapa*/
.contenedor3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background: url(../imagenes/contacto.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  height: 680PX;
}

#contactos{
  font-family: fantasy;
  font-size: 50px;
  letter-spacing: 4px;
}

.info-contacto {
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background:transparent;
}


.info-contacto h2 {
    margin-bottom: 20px;
    text-align: left;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 120px;
    margin-top: 100px;
}

.info-contacto label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 130px;
    color: white;
}

.info-contacto input[type="text"],
.info-contacto input[type="email"],
.info-contacto input[type="tel"],
.info-contacto textarea {
    width: calc(80% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-left: 110px;
}

.info-contacto textarea {
    height: 100px;
}

.info-contacto input[type="enviar"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    width: 85px;
    height: 30px;
    margin-left: 130px;
}

.info-contacto input[type="enviar"]:hover {
    background-color: #0056b3;
}

.mapa {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: transparent;
    margin-top: 80px;
}

/********** PARTE FINAL *********/
footer {
  background: #202020;
  padding-top: 50px;
  text-align: center;
}

.contenido {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.redes_sociales,
.observacion,
.informacion,
.nuestro_diseno {
  width: 23%;
  padding: 0 10px;
}

h3 {
  font-weight: 400;
  font-size: 25px;
  line-height: 23px;
  text-align: left;
  color: #fff;
  padding-bottom: 20px;
  display: table;
  text-transform: uppercase;
}


.p1fo {
  padding-right: 30px;
  padding-top: 25px;
  font-weight: normal;
}

.p1fo {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
a {
  color: #000;
}

a:hover {
  color: #1659e8;
}

ul.iconos_redes {
  padding-bottom: 14px;
  width: 100%;
  text-align: left;
}

ul.iconos_redes li {
  display: inline-block;
}

ul.iconos_redes li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 30px;
  margin: 0 3px;
  color: #202020;
  background: #fff;
  width: 35px;
  height: 35px;
  flex-wrap: wrap;
  text-decoration: none;
}

ul.iconos_redes li a:hover {
  color: #fff;
  background: #1659e8;
}
ul.link_menu li {
  display: block;
  text-align: left;
}

ul.link_menu li a {
  color: #ffffff;
  font-size: 17px;
  line-height: 28px;
  display: block;
  width: -moz-max-content;
  text-decoration: none;
}

ul.link_menu li a:hover {
  color: #1659e8;
}




