#ht{
    overflow: hidden;
}

body {
    background-image: url(../imagenes/642457.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-right: 3%; /* Corrige desplazamientos innecesarios */
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.mensaje_registro{
    display: none;
    position: absolute;
    top: 152px;
    left: 209.5px;
    transform: translateX(-50%);
    color: white;
    white-space: nowrap;
    font-size: 17.5px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    box-sizing: border-box;
}

.mensaje-xx{
    display: none;
    position: absolute;
    top: 152px;
    left: 208.5px;
    transform: translateX(-50%);
    color: white;
    white-space: nowrap;
    font-size: 17.5px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    box-sizing: border-box;
}

.contenedor_todo{
    width: 100%;
    max-width: 800px;
    position: relative;
}

.caja_trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);
}

.caja_trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
} 

.caja_trasera div p,
.caja_trasera button{
    margin-top: 10px;
}

.caja_trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja_trasera div h3{
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 20px;
}

.caja_trasera div button{
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 500ms;
    outline: none;
    margin-top: 4px;
}

.caja_trasera div button:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
}

.caja_trasera #caja_trasera_register{
    padding-left: 70px;
}

.caja_trasera #caja_trasera_register button{
    margin-left: 85px;
}

.caja_trasera #caja_trasera_register h3{
    padding-left: 20px;
}

.caja_trasera #caja_trasera_register p{
    padding-left: 5px;
}


/* formularios */
.contenedor_login_register{
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor_login_register form{
    width: 100%;
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(180, 189, 197, 0.5);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.contenedor_login_register form h2{
    color: rgb(40, 36, 36);
    font-size: 30px;
    font-weight: center;
    margin-bottom: 20px;
}
.contenedor_login_register form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}

.contenedor_login_register form button{
    background: rgb(40, 36, 36);
    color: white;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    transition: all 500ms;
}

.contenedor_login_register form button:hover{
    background-color: rgba(0, 128, 255, 0.5);
    color:#fff;
    /* transition: all 500ms; */
}
.contenedor_login_register form button:active{
    background: #ffffff;
    color:#000;
    transition: all 500ms;
}

.contenedor_login_register form button:focus{
    outline: none;
}

.form_login{
    opacity: 1;
    display: block;
}

.form_register{
    opacity: 0;
    display: none;
}


#form_login a{
    color: rgb(40, 36, 36);
}

#form_correo {
    width: 100%; /* Ocupa todo el ancho */
    height: 120px; /* Altura del formulario */
    display: flex; /* Usar flexbox para alinear elementos */
    transform: translateY(-5%);
    transform: translateX(-50%);
    padding-right: 120px; /* Espacio a la derecha */
    padding-left: 120px; /* Espacio a la izquierda */
    padding: auto; /* Espacio automático */
}

#form_correo h2{
    margin-bottom: -5px;
    color: rgb(40, 36, 36); /* Color del texto */
    font-size: 30px; /* Tamaño de fuente */
    text-align: center; /* Centrar texto */
}

#form_correo p{
    color: rgb(40, 36, 36); /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    margin-bottom: 20px;
    text-align: center; /* Centrar texto */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form_correo input {
    flex: 1; /* Ocupa todo el espacio disponible */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    border: none; /* Sin bordes */
    outline: none; /* Sin contorno al hacer clic */
    font-size: 16px; /* Tamaño de fuente */
    padding-right: 50px; /* Espacio a la derecha */
    padding-left: 50px; /* Espacio a la izquierda */
    align-items: left;
    margin-bottom: 5px;
}

#form_correo button {
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    border: none; /* Sin bordes */
    background-color: rgb(40, 36, 36); /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: all 500ms; /* Transición suave */
    margin-right: 115px;
}

#form_correo button:hover {
    background-color: rgba(0, 128, 255, 0.5); /* Cambia el color al pasar el cursor */
    color: #fff; /* Color del texto */
}

#form_correo #go-back {
    position: relative; /* Posición absoluta */
    top: -58.5px; /* Espacio desde la parte superior */
    left: 128px; /* Espacio desde la izquierda */
    background-color: rgba(186, 187, 187, 0.678); /* Fondo transparente */
    border: none; /* Sin bordes */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

#form_correo #go-back:hover {
    background-color: rgb(228, 218, 218);/* Cambia el color de fondo */
    color: #000; /* Cambia el color del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: all 0.3s ease; /* Transición suave */
}
/* Responsive */
@media screen and (max-width: 1081px) {

    #ht{
        overflow: auto;
    }

    * {
        box-sizing: border-box;     
    }
    main {
        margin-top: 50px;
        padding: 10px;
        width: 100%;
        margin-left: 39px;
        padding: auto;
    }

    body{
        max-width: 77%;
        align-items: center;
        margin-left: 1%
    }

    .caja_trasera {
        flex-direction: column;
        padding: 10px 20px;
        text-align: center;
        box-sizing: content-box;
        margin-left: -19px
    }

    .caja_trasera div {
        margin-bottom: 20px;
        margin-top: -20px;
        transition: all 500ms;
    }
    
    .caja_trasera div p,
    .caja_trasera button{
        margin-top: 0px;
    }
    
    .caja_trasera div p{
        font-size: 14px;
        font-weight: 300;
    }


    .caja_trasera div h3{
        font-weight: 400;
    }

    .caja_trasera_register button {
        margin-right: 0px
    }

    .caja_trasera_login button {
        margin-right: 0px
    }


    .caja_trasera #caja_trasera_register{
        padding-left: 0px;
    }

    .caja_trasera #caja_trasera_register button{
        margin-left: 0%;
    }

    .caja_trasera #caja_trasera_register h3{
        padding-left: 0px;
    }

    .caja_trasera #caja_trasera_register p{
        padding-left: 0px;
    }

    .contenedor_login_register {
        flex-direction: column;
        top: 0;
        left: 0;
        margin: auto;
    }

    .contenedor_login_register form {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        margin-left: -20px;
        transition: all 500ms;
    }

    .contenedor_login_register form h2 {
        font-size: 20px;
        text-align: center;
    }

    .contenedor_login_register form input {
        font-size: 14px;
        align-items: center;
    }

    .contenedor_login_register form button {
        font-size: 14px;
        padding: 10px 20px;
        align-items: center;
    }

    #form_correo {
        flex-direction: column; /* Cambia la dirección a columna */
        padding: 10px 20px;
        text-align: center;
        box-sizing: content-box;
        margin-left: 325px;
        margin-top: 275px;
        
    }

    #form_correo p{
        padding-top: 30px
    }

    #form_correo h2{
        margin-bottom: 0px;
        padding-top: 50px;
        margin-bottom: -10px;
        color: rgba(0, 0, 0, 0.834);
        text-align: left;
        font-size: 25px;
    }

    #form_correo #go{
        margin-top: 35px;
    }
    
    #form_correo #go-back{
        top: -59.5px
    }
}